.settings {

  &__content {
    &__section {
      display: flex;
      flex-direction: column;
      gap: 0rem;
    }
  }

  p {
    &.label {
      margin-top: 1rem;
      margin-bottom: .75rem;
      font-size: 1.2rem;
      font-weight: 700;
    }
  }

  label {
    &:not(:nth-child(2)) {
      margin-top: 1rem;
    }

    span {
      display: inline-block;
      padding-left: .6rem;
      transform: translateY(-.05rem);
    }
  }
}
