.profile-skill-card {
  height: var(--profile-skill-card-height);
  flex: 1;
  max-width: 35rem;

  &__skills {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1rem 0.8125rem;
    box-sizing: border-box;
    gap: 0.8000rem;

    .skillview {
      margin-bottom: 0 !important;
      flex-shrink: 0;
    }
  }
}
