.dropdown {
  position: relative;
  --menu--max-width: 240px;
  --padding-tb: 5.6px;
  --border-color: var(--input-border);
  --border-color-active: var(--input-border-active);
  --bg: var(--input-bg);
  background: var(--bg) !important;
  padding: var(--padding-tb) 10px;
  border-radius: .2rem;
  border: .5px solid var(--border-color);
  font-size: .8rem;
  box-sizing: border-box;

  &__container {
    label {
      display: block;
      font-size: 16px;
      font-weight: 400;
      margin-bottom: 5px;
      color: var(--text-color);
    }
  }

  span {
    display: block;
    padding: 2px 2.5px;
    font-size: 1rem;
  }

  &__menu {
    display: none;
    position: absolute;
    top: calc(100% + 5px);
    right: 0;
    border: 1px solid var(--border-color);
    border-radius: 7px;
    background-color: var(--bg) !important;
    width: 100%;
    min-height: 4px;
    max-height: 140px;
    overflow-y: auto;
    overflow-x: hidden;
    pointer-events: auto !important;
    z-index: 1000;
    padding: 10.27px;
    box-sizing: border-box;

    /* scrollbar */

    ::-webkit-scrollbar {
      width: 16px;
      right: 0;
      margin-right: 3px;
      border: solid 25px transparent;
    }

    ::-webkit-scrollbar-corner {
      background: #dfdfdf;
    }

    ::-webkit-scrollbar-thumb {
      background-color: #dfdfdf;
      box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #fff, inset -2px -2px grey, inset 2px 2px #dfdfdf;
    }

    ::-webkit-scrollbar-track {
      background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='2' height='2' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1 0H0v1h1v1h1V1H1V0z' fill='silver'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2 0H1v1H0v1h1V1h1V0z' fill='%23fff'/%3E%3C/svg%3E");
    }

    ::-webkit-scrollbar-button:horizontal:start:decrement,
    ::-webkit-scrollbar-button:horizontal:end:increment,
    ::-webkit-scrollbar-button:vertical:start:decrement,
    ::-webkit-scrollbar-button:vertical:end:increment {
      display: block;
    }

    ::-webkit-scrollbar-button:vertical:start {
      height: 17px !important;
      //background-image: url("../../../../public/assets/svg/button-up.svg") !important;

    }

    ::-webkit-scrollbar-button:vertical:end {
      height: 17px;
      //background-image: url("../../../../public/assets/svg/button-down-old.svg") !important;
    }

    ::-webkit-scrollbar-button:vertical:start:increment,
    ::-webkit-scrollbar-button:vertical:end:decrement,
    ::-webkit-scrollbar-button:horizontal:start:increment,
    ::-webkit-scrollbar-button:horizontal:end:decrement {
      display: none;
    }


    button,
    div {
      padding: 10px;
      width: 100%;
      background-color: var(--bg);
      border: none;
      cursor: pointer;
      margin: 0 !important;
      text-align: left;
      color: var(--dropdown-text-nonselected);
      font-size: 1rem;
      border-radius: 5px;
      box-sizing: border-box;
    }

    &.open {
      display: block;
    }
  }


  &__item {
    padding: 2px 2.5px;
    cursor: pointer;
    width: 100%;

    &:hover {
      color: var(--dropdown-text-selected);
      background-color: var(--dropdown-item-selected);
    }
  }
}
