.input--label {
  display: flex;
  flex-direction: column;
  gap: .25rem;
  --padding-tb: 8px;
  --border-color: var(--input-border);
  --border-color-active: var(--input-border-active);
  --bg: var(--input-bg);

  label {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 3.1px;
    color: var(--text-color);
  }

  text-area,
  input {
    background: var(--bg) !important;
    border: .5px solid var(--border-color);
    padding: var(--padding-tb) 10px;
    transition: border-color 250ms;
    color: var(--input-text);
    border-radius: 5px;
    font-size: 16px;

    &:focus,
    &:active {
      border-color: var(--border-color-active);
    }
  }

  textarea {
    max-height: 4rem;
    resize: none;
    outline: none;

    &::focus,
    &::active {
      outline: none;
      box-shadow: none;
    }
  }

  input {
    outline: none;

    &::focus,
    &::active {
      outline: none;
      box-shadow: none;
    }
  }
}
