.input--label {
  display: flex;
  flex-direction: column;
  gap: .25rem;
  --padding-tb: 8px;
  --border-color: var(--input-border);
  --border-color-active: var(--input-border-active);
  --bg: var(--input-bg);

  label {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 3.1px;
    color: var(--text-color);
  }

  &.checkbox {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;

    label {
      margin-bottom: 0;
    }

  }

  text-area,
  input {
    background: var(--bg) !important;
    border: .5px solid var(--border-color);
    padding: var(--padding-tb) 10px;
    transition: border-color 250ms;
    color: var(--input-text);
    border-radius: 5px;
    font-size: 16px;

    &:focus,
    &:active {
      border-color: var(--border-color-active);
    }
  }

  input[type='checkbox'] {
    float: left;
    width: 24px;
    height: 24px;
    border: 1px solid var(--input-border);
    margin: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 2.5px;
    transition: background-color 150ms;

    &:checked {
      background-color: var(--border-color-active) !important;
    }
  }

  textarea {
    max-height: 4rem;
    resize: none;
    outline: none;

    &::focus,
    &::active {
      outline: none;
      box-shadow: none;
    }
  }

  input {
    outline: none;

    &::focus,
    &::active {
      outline: none;
      box-shadow: none;
    }
  }
}
