@import '../../breakpoints.scss';

nav.navigation {
  position: absolute;
  left: 50%;
  top: 1.5rem;
  transform: translateX(-50%);
  z-index: 99;
  width: fit-content;
  padding: .1rem;
  display: flex;
  gap: .25rem;


  transition: all 0.3s;

  &:hover {
    opacity: 1;
  }

  .navigation {

    //empty rule for now
    &__row {
      width: fit-content;
      display: flex;
      background: var(--navigation-bar-track-color);
      border-radius: 2rem;
      position: relative;

      &__buttons {
        position: absolute;
        left: 105%;
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        gap: .5rem;

        &__button {
          display: flex;
          align-items: center;
          justify-content: center;
          background: var(--navigation-bar-track-color);
          padding: .35rem;
          border-radius: 2rem;
          width: 16px;
          height: 16px;
          transition: background 0.3s;

          &:hover {
            background: var(--navigation-bar-button-hover-color);
            cursor: pointer;
          }

          &.active {
            background: var(--navigation-bar-button-hover-color);
          }

          img {
            padding: 0;
            max-width: 14px;
            height: auto;
            filter: var(--navigation-bar-button-small-filter);
            transition: filter 0.3s;
          }
        }
      }
    }
  }

  .netscape-box {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    --width: 125px;
    width: var(--width);
    height: 30px;
    user-select: none;
    cursor: pointer;
    transition: background 0.3s, transform 0.3s;
    border-radius: 2rem;

    @include media('<=LGphone') {
      --width: 75px;
    }


    &.effect,
    &.effect-2 {
      position: absolute;
      background: var(--navigation-bar-button-color);
      border: 1px solid var(--navigation-bar-button-border-color);
      top: .025rem;
      --spot: 0;
      left: calc(var(--width) * var(--spot) + .05rem);
      opacity: var(--disable);
      transition: all 0.3s;
      z-index: 101;
      //disable all cursor events
      pointer-events: none;
    }

    &.effect-2 {
      --opacity: 0;
      opacity: var(--opacity);
      background: var(--navigation-bar-button-hover-color);
      z-index: 100;
    }

    &:active {
      transform: scale(0.95);
    }

    &.active {
      background: var(--navigation-bar-button-hover-color);
      border: 1px solid var(--navigation-bar-button-border-color);
    }

    img {
      padding: 0;
      max-width: 32px;
      height: auto;
    }

    span,
    a {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 12px;
      z-index: 105;
      text-decoration: none;
      color: inherit;
    }

    &.disabled {

      span,
      a {
        color: #aca89a;
      }

    }
  }
}
