.popup__add {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
}

.skillview {

  background: var(--card-background);
  padding: 17px 19px;



  & {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &__title__header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    h2 {
      font-size: 22px;
      font-weight: 600;
    }
  }

  &__dot_container {}



  &__goals {
    margin-top: 30px;
    width: 100%;
    max-width: 100%;
    overflow-x: auto;
    padding-bottom: .5rem;

    &__container {
      display: flex;
      width: 100%;
      gap: 12px;

      &>div {
        flex: 0 0 auto;
      }
    }
  }

  &__title {
    display: flex;
    flex-direction: column;
    gap: 4px;
    position: sticky;
    background: var(--card-background);
    z-index: 5;
    top: 0;
    height: 34px;
    color: var(--text-color);

    &__clickframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      background: transparent;
    }
  }



  span.expand-message {
    display: block;
    width: 80%;
    text-align: center;
    margin: 0 auto;
    font-weight: 500;
    border-bottom: 1px solid #000;
    padding-bottom: 5px;
  }

  .collapsible {
    max-height: 0px;
    transition: max-height 0.3s ease, padding-bottom 0.3s linear;
    overflow: hidden;
    --collapsible-height: 1000px;
    padding-bottom: 20px;

    &.open {
      max-height: var(--collapsible-height);
      padding-bottom: 0px;
    }


  }

  &__footer {
    margin-top: 16px;
  }



  button.add_goal {
    margin-top: 25px;
  }
}
