@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
//replace this

:root {

  --bg-dark: #121212;
  --bg-light: #ffffff;

  //DO NOT CHANGE
  --bg: var(--bg-light);

  --accent: #F46224;

  --title-bar: #2A2A2A;
  --side-bar: #212121;
  --stroke-inner: #141414;
  --stroke-outer: #444444;
  /*
  @include media('<=MDLGdesktop') {
    --window-width: 100rem;
    --window-height: 50rem;
  }

  @include media('<=MDdesktop') {
    --window-width: 90rem;
    --window-height: 45rem;
  }

  @include media('<=desktop') {
    --window-width: 80rem;
    --window-height: 40rem;
  }
  */
  //buttons (title bar)
  --button-red: #ff5f57;
  --button-yellow: #ffb502;
  --button-green: #29ca41;
  //activity
  --progress-bar-height: 0.3571rem;
  --progress-bar-track: #525252;
  --progress-bar-fill: var(--accent);
  --activity-width: 18.7143rem;
  --activity-title-font-size: 1.9286rem;
  --activity-title-weight: 500;
  --activity-button-icon-size: 1.7143rem;
  --activity-button-icon-color: #646464;

  //old windows settings
  --o-windows-bg-color: #bcbcbc;
  --o-windows-button-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #fff, inset -2px -2px grey, inset 2px 2px #dfdfdf;
  --o-windows-button-active-shadow: inset 1px 1px #0a0a0a, inset -1px -1px #fff, inset 2px 2px grey, inset -2px -2px #dfdfdf;
  --o-windows-button-disabled-shadow: inset 1px 1px #0a0a0a, inset -1px -1px #fff, inset 2px 2px grey, inset -2px -2px #dfdfdf;

  /* INPUT */
  --input-bg-light: #ffffff;
  --input-bg-dark: #1F1F1F;
  --input-border-light: #DADADA;
  --input-border-active-light: #F46224;
  --input-border-dark: #383838;
  --input-border-active-dark: #F46224;

  /* INPUT::TEXT */
  --input-text-light: #363636;
  --input-text-placeholder-light: #D7D7D7;
  --input-text-dark: #FFFFFF;
  --input-text-placeholder-dark: #373737;

  /* INPUT DEFAULTS DO NOT CHANGE */
  --input-bg: var(--input-bg-light);
  --input-border: var(--input-border-light);
  --input-border-active: var(--input-border-active-light);
  --input-text: var(--input-text-light);
  --input-text-placeholder: var(--input-text-placeholder-light);

  /* DROPDOWN */
  --dropdown-bg: var(--input-bg);
  --dropdown-text-nonselected: #9B9191;
  --dropdown-text-selected: #FA450A;
  --dropdown-item-selected: #FFE0D6;



  //popup
  --window-popup-min-width: 381px;
  --window-popup-max-width: 381px;
  --window-popup-min-height: 264px;
  --window-popup-max-height: 80vw;

  --window-popup-border-color-light: #e7e7e7;
  --window-popup-border-color-dark: #212121;

  //default to light
  --window-popup-background: var(--card-background);
  --window-popup-border-color: var(--window-popup-border-color-light);

  --window-popup-border-radius: 0.5571rem;
  --window-popup-padding: 20px 22px;
  --window-popup-stroke: var(--window-popup-border-color);

  //navigation
  --navigation-bar-track-color-light: #f3f3f3;
  --navigation-bar-button-color-light: #ffffff;
  --navigation-bar-button-hover-color-light: #e4e4e4;
  --navigation-bar-button-border-color-light: #e8e8e8;
  --navigation-bar-track-color-dark: #1f1f1f;
  --navigation-bar-button-color-dark: #2f2f2f;
  --navigation-bar-button-hover-color-dark: #3f3f3f;
  --navigation-bar-button-border-color-dark: #4f4f4f;


  //navigation defaults
  --navigation-bar-top: 1.5rem;
  --navigation-bar-track-color: var(--navigation-bar-track-color-light);
  --navigation-bar-button-color: var(--navigation-bar-button-color-light);
  --navigation-bar-button-hover-color: var(--navigation-bar-button-hover-color-light);
  --navigation-bar-button-border-color: var(--navigation-bar-button-border-color-light);

  //divider line
  --divider-color-light: #e8e8e8;
  --divider-color-dark: #333;
  //defaults
  --divider-color: var(--divider-color-light);

  //messagescreen
  --messagescreen-bg-color: #000000a0;
  --messagescreen-content-bg-color: #1f1e2c;
  --messagescreen-content-border-color: #626262;
  //messagescreen-content
  --messagescreen-red-color: #ff715b;
  --messagescreen-purple-color: #b86bff;
  --messagescreen-blue-color: #1d88ed;
  //messagescreen-scrollbar
  --messagescreen-scrollbar-thumb-color: #4a4a4a;
  --messagescreen-scrollbar-track-color: #2f2f2f;

  --card-shadow: 0px 0px 24px -10px rgba(0, 0, 0, 0.05);
  --card-border-radius: 4px;
  //card settings -- light
  --card-background-light: #ffffff;
  --card-border-light: #f5f5f5;
  //card settings -- dark
  --card-background-dark: #151515;
  --card-border-dark: #212121;
  --card-inner-background-dark: #121212;

  --card-grid-background-dark: #20202055;
  --card-grid-background-light: #fafafa;
  //dots color
  --card-grid-dots-color-dark: #20202070;
  --card-grid-dots-color-light: #f0f0f0;


  //card settings -- DO NOT CHANGE
  --card-background: var(--card-background-light);
  --card-border: var(--card-border-light);
  --card-inner-background: var(--card-background-light);
  --card-grid-background: var(--card-grid-background-light);
  --card-grid-dots-color: var(--card-grid-dots-color-light);

  //profile detail card
  --profile-detail-card-bg-light: #fff;
  --profile-detail-card-bg-dark: #1e1e1e;
  --profile-detail-card-border-light: #e8e8e8;
  --profile-detail-card-border-dark: #333;
  //defaults
  --profile-detail-card-bg: var(--profile-detail-card-bg-light);
  --profile-detail-card-border: var(--profile-detail-card-border-light);

  //option
  --option-filter-light: invert(0%) sepia(96%) saturate(3968%) hue-rotate(255deg) brightness(99%) contrast(100%);
  --option-filter-dark: invert(41%) sepia(0%) saturate(1815%) hue-rotate(226deg) brightness(92%) contrast(90%);
  //defaults
  --option-filter: var(--option-filter-light);


  //z-index book
  font-family: 'Inter', sans-serif;

  transition: all 0.3s;

  /*
  //default settings -- check global var if darkmode
  @media (prefers-color-scheme: dark) {
    --bg: var(--bg-dark);
    --card-background: var(--card-background-dark);
    --card-border: var(--card-border-dark);
    --card-inner-background: var(--card-inner-background-dark);
    --text-color: #ffffff;
  }
  */
}

.dark-mode {
  --bg: var(--bg-dark);
  --card-background: var(--card-background-dark);
  --card-border: var(--card-border-dark);
  --card-inner-background: var(--card-inner-background-dark);
  --card-grid-background: var(--card-grid-background-dark);
  --card-grid-dots-color: var(--card-grid-dots-color-dark);
  --text-color: #ffffff;

  //navigation
  --navigation-bar-track-color: var(--navigation-bar-track-color-dark);
  --navigation-bar-button-color: var(--navigation-bar-button-color-dark);
  --navigation-bar-button-hover-color: var(--navigation-bar-button-hover-color-dark);
  --navigation-bar-button-border-color: var(--navigation-bar-button-border-color-dark);

  //profile detail card
  --profile-detail-card-bg: var(--profile-detail-card-bg-dark);
  --profile-detail-card-border: var(--profile-detail-card-border-dark);

  //option
  --option-filter: var(--option-filter-dark);

  //popup
  --window-popup-border-color: var(--window-popup-border-color-dark);

  //inputs
  --input-bg: var(--input-bg-dark);
  --input-border: var(--input-border-dark);
  --input-text: var(--input-text-dark);
  --input-text-placeholder: var(--input-text-placeholder-dark);

  //divider
  --divider-color: var(--divider-color-dark);
}

.inter {
  font-family: 'Inter', sans-serif;
}

.lexend {
  font-family: 'Lexend', sans-serif;
}

.card {
  position: relative;
  border: 1px solid var(--card-border);
  background: var(--card-background);
  border-radius: var(--card-border-radius);
  box-shadow: var(--card-shadow);

  &.card-loading {
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(255, 255, 255, 0.3);
      z-index: 100;
      animation: pulse-fade 1.5s infinite;
      animation-fill-mode: forwards;

      @keyframes pulse-fade {
        0% {
          opacity: 0;
        }

        50% {
          opacity: 1;
        }

        100% {
          opacity: 0;
        }
      }
    }
  }
}

.scrollbar {
  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--messagescreen-scrollbar-thumb-color);
    border-radius: 20px;
  }

  &::-webkit-scrollbar-track {
    background: var(--messagescreen-scrollbar-track-color);
    border-radius: 20px;
  }

  &.horizontal {
    &::-webkit-scrollbar {
      height: 6px;
    }
  }

  &.slight {
    &::-webkit-scrollbar-thumb {
      background: #e2e2e2;
      border-radius: 10px;
    }

    &::-webkit-scrollbar-track {
      background: #f0f0f0;
      border-radius: 10px;
    }
  }

}
