<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="Content-Security-Policy"
    content="script-src 'self' https://accounts.google.com/gsi/client 'unsafe-inline'" />
  <title>Sourly v0.0.6</title>
</head>

<body>
  <div id="root"></div>
</body>

</html>
